.country-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;    
    transition: all 0.2s ease-in-out;
    cursor: pointer;  

    span:first-of-type {
        width: 100px;
        text-align: center;
    }

    &:hover {
        color: white;
        background: lighten(#4D1ED3, 20%);
    }

    &:active {
        color: white;
        background: lighten(#4D1ED3, 10%);
    }
}