.filter__toggle {
    a:first-of-type button{
        border-radius: 5px 0 0 5px;
    }

    a:last-of-type button{
        position: relative;
        right: 2px;
        margin-left: 0;
        border-radius: 0 5px 5px 0;
    }

    @media screen 
        and (max-width: 599px) {
            display: none;
    }
}