.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
        margin-right: 10px;
    }

    input {
        margin-right: 10px;
    }
}