* {
  font-family: 'Roboto' , -apple-system, system-ui,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F6FA;
}

.covid-app {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 98vw;
  max-width: 1200px;
  height: 98vh;

  &__section {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;

    @media screen 
      and (max-device-width: 767px) {
        padding: 10px;
    }

    @media screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1023px) {
        padding: 10px;
    }

    @media screen 
      and (min-device-width: 1024px) 
      and (max-device-width: 1199px) {
        padding: 15px;
    }

    @media screen 
      and (min-device-width: 1200px) {
        padding: 20px;
    }

    &_list {
      overflow: auto;
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen 
      and (max-device-width: 767px) {
        font-size: 13px;
        margin-bottom: 5px;
    }

    @media screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1023px) {
        font-size: 13px;
        margin-bottom: 5px;
    }

    @media screen 
      and (min-device-width: 1024px) 
      and (max-device-width: 1199px) {
        font-size: 15px;
        margin-bottom: 10px;
    }

    @media screen 
      and (min-device-width: 1200px) {
        font-size: 16px;
        margin-bottom: 15px;
    }
  
    button {

      @media screen 
        and (max-device-width: 767px) {
          margin-left: 5px;
      }

      @media screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1023px) {
          margin-left: 5px;
      }

      @media screen 
        and (min-device-width: 1024px) 
        and (max-device-width: 1199px) {
          margin-left: 10px;
      }

      @media screen 
        and (min-device-width: 1200px) {
          margin-left: 15px;
      }

    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;    
    transition: all 0.2s ease-in-out;
    cursor: pointer;  

    @media screen 
      and (max-device-width: 767px) {
        margin-bottom: 5px;
        padding: 10px;
        font-size: 13px;
    }

    @media screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1023px) {       
        margin-bottom: 5px;
        padding: 15px;
        font-size: 13px;
    }

    @media screen 
      and (min-device-width: 1024px) 
      and (max-device-width: 1199px) {
        margin-bottom: 10px;
        padding: 15px;
        font-size: 14px;
    }

    @media screen 
      and (min-device-width: 1200px) {
        margin-bottom: 10px;
        padding: 20px;
        font-size: 15px;
    }

    span:first-of-type {
        width: 100px;
        text-align: center;
    }

    &:hover {
        color: white;
        background: lighten(#4D1ED3, 20%);
    }

    &:active {
        color: white;
        background: lighten(#4D1ED3, 10%);
    }
  }

  &__button {
    box-sizing: border-box;
    border: 1px solid #EEF3F6;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    @media screen 
        and (max-device-width: 767px) {
          padding: 5px 10px;
          font-size: 13px;
    }

    @media screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1023px) {
        padding: 5px 10px;
        font-size: 13px;
    }

    @media screen 
      and (min-device-width: 1024px) 
      and (max-device-width: 1199px) {
        padding: 10px 15px;
        font-size: 14px;
    }

    @media screen 
      and (min-device-width: 1200px) {
        padding: 10px 20px;
        font-size: 15px;
    }

    &_selected {
      color: white;
      background: lighten(#4D1ED3, 10%);
    }

    &:hover {
      color: white;
      background: lighten(#4D1ED3, 20%);
    }

    &:active {
        color: white;
        background: lighten(#4D1ED3, 10%);
    }

    &:disabled {
      color: white;
      background: lighten(#4D1ED3, 40%);
      cursor: default;
    }
  }
}

input {
  border-radius: 4px;
  border: 1px solid #EEF3F6;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;

  @media screen 
    and (max-device-width: 767px) {
      max-width: 120px;
      padding: 5px 10px;
      font-size: 13px;
  }
  
  @media screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1023px) {
      max-width: 120px;
      padding: 5px 10px;
      font-size: 13px;
  }

@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1199px) {
    max-width: 150px;
    padding: 10px 15px;
    font-size: 14px;
}

@media screen 
  and (min-device-width: 1200px) {
    padding: 10px 20px;
    font-size: 15px;
}

  &:hover {
    border-width: 1px;
    border-color: lighten(#4D1ED3, 20%);
  }

  &:active {
      border-color: lighten(#4D1ED3, 10%);
  }
}

a {
  text-decoration: none;
  color: black;
}