* {
  font-family: 'Roboto' , -apple-system, system-ui,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F6FA;
}

.covid-app {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 1200px;
  height: 95vh;

  &__section {
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;

    &_list {
      overflow: auto;
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  
    button {
      margin-left: 10px;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;    
    transition: all 0.2s ease-in-out;
    cursor: pointer;  

    span:first-of-type {
        width: 100px;
        text-align: center;
    }

    &:hover {
        color: white;
        background: lighten(#4D1ED3, 20%);
    }

    &:active {
        color: white;
        background: lighten(#4D1ED3, 10%);
    }
  }

  &__button {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #EEF3F6;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &_selected {
      color: white;
      background: lighten(#4D1ED3, 10%);
    }

    &:hover {
      color: white;
      background: lighten(#4D1ED3, 20%);
    }

    &:active {
        color: white;
        background: lighten(#4D1ED3, 10%);
    }

    &:disabled {
      color: white;
      background: lighten(#4D1ED3, 40%);
      cursor: default;
    }
  }
}

input {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #EEF3F6;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  
  

  &:hover {
    border-width: 1px;
    border-color: lighten(#4D1ED3, 20%);
  }

  &:active {
      border-color: lighten(#4D1ED3, 10%);
  }
}

a {
  text-decoration: none;
  color: black;
}